*, :after, :before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

$main-width: 610px;

#page {
  width: inherit;
  width: fit-content;
}

#page #hd {
  width: $main-width;

  & > div > table {
    width: inherit !important;
  }
}

#page #hd > div > table > tbody > tr > td:nth-child(2) {
  display: none;
}

#outside {
  width: $main-width;
  #all {
    width: inherit;
    min-width: inherit;
  }

  //footer
  & > div:last-of-type {
    width: inherit !important;

    & > table > tbody > tr {
      display: flex;
      flex-flow: wrap;
      & > td:first-child {
        width: 100%;
      }
      & > td:not(:first-child) {
        width: 49%;
      }
    }
  }

  #bd {
    display: flex;
    flex-direction: column-reverse;

    // game
    #yui-main > .yui-b {
      margin-right: 0;
    }

    // player menu
    #menu-out {
      width: 100%;
      margin: 0;
      padding: 15px 10px 0;

      #menu {
        margin-bottom: 0;

        #iogc-PlayerPanel {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          & > div {
            width: 42% !important;
          }
        }
      }
    }
  }
}

#KGame {
  height: inherit !important;
  .iogc-GameWindow-table {
    height: inherit
  }

  table.iogc-TableLayout > tbody > tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    & > td:nth-child(1) {
      &:after {
        content: '&#8627;';
      }
    }
    & > td:nth-child(2) {
      order: 2;
    }

    & > td:nth-child(3) {
      order: 1;
    }

    & > td:nth-child(1), & > td:nth-child(3) {
      & > table > tbody {
        display: flex;
      }
    }

  }
}


