*, :after, :before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

$main-width: 610px;

#page {
  width: inherit;
  width: fit-content;
}

#page #hd {
  width: $main-width;

  & > div > table {
    width: inherit !important;
  }
}

#page #hd > div > table > tbody > tr > td:nth-child(2) {
  display: none;
}

#outside {
  width: $main-width;
  #all {
    width: inherit;
    min-width: inherit;
  }

  & > div:last-of-type {
    display: none;
  }

  #bd {
    display: flex;
    flex-direction: column-reverse;

    // game
    #yui-main > .yui-b {
      margin-right: 0;
    }

    // player menu
    #menu-out {
      width: 100%;
      margin: 0;
      padding: 0 10px;

      #iogc-PlayerPanel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > div {
          width: 42% !important;
        }
      }
    }



  }
}

#KGame {
  height: inherit !important;
  .iogc-GameWindow-table {
    height: inherit
  }

  table.iogc-TableLayout > tbody > tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    & > td:nth-child(1) {

    }
    & > td:nth-child(2) {
      order: 2;
    }

    & > td:nth-child(3) {
      order: 1;
    }

    & > td:nth-child(1), & > td:nth-child(3) {
      & > table > tbody {
        display: flex;
      }
    }

  }
}


